<div class="container">
  <p>
    <b>Supplier Id:</b>
    <%= @purchases.supplier_id %>
  </p>
  <p>
    <b>Bill NO:</b>
    <%= @purchases.bill_no %>
  </p>
  <p>
    <b>FiscalYear Id:</b>
    <%= @purchases.fiscal_year_id %>
  </p>
  <p>
    <b>purchase Date:</b>
    <%= @purchases.purchase_date %>
  </p>
  <p>
    <b>Total:</b>
    <%= @purchases.total %>
  </p>
  <p>
    <b>Discount:</b>
    <%= @purchases.discount %>
  </p>
  <p>
    <b>Tax:</b>
    <%= @purchases.tax %>
  </p>

</div>