<div class="container">

  <p> <b> Name: </b> <%= @items.name %> </p>

  <p> <b> Unit-Id: </b> <%= @items.unit_id %> </p>

  <p> <b> Item-Code: </b> <%= @items.item_code %> </p>
  <p> <b> Quantity: </b> <%= @items.quantity %> </p>
  <p> <b> Item-group-id: </b> <%= @items.item_group_id %> </p>
  <p> <b> Expiry-date: </b> <%= @items.expiry_date %> </p>

  </p>
</div>